body{
    background-color: aquamarine;
}

ul {display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 17px;
    nav-left: current;} /* Centralizar Navy Bar */
 

