<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Exibição</title>
    <Link rel="stylesheet" href="{{url_for('static',filename='Exibicao.css')}}"> <!--Conectar a tela de Exibição com o CSS "Exibição"-->
<!--------------------------------------------------------------->    

</head>

<body> 
    <div class="Menus"> <!-----Criação da Nav bar------->
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">Menu</a></li>
                <li><a href="{{url_for('cadastro')}}">Cadastro</a></li>
            </ul>
            
        </nav>

    </div>
<!--------------------------------------->
    
<!-----Criação da tabela------->

<div class="Tabela"> <!--Div que comanda toda a estrutura da tabela-->
<div class="Células">
    <table> 
        <tr>
            <th>ID</th>  <!--Células-->
            <th>Espécie</th> <!--Células-->
            <th>Raça</th>  <!--Células-->
            <th>Cor</th>  <!--Células-->
            <th>Ação</th>  <!--Células-->

        </tr>

<!--------------------------------------->

<!--Criação dos itens que ficarão registrados dentro da tabela-->
<tbody>
    {% for pet in pets %}
        <tr>
            <td>{{ pet.id}}</td> <!--Itens que ficarão dentro da célula "ESPÉCIE"-->
            <td>{{ pet.especie}}</td> <!--Itens que ficarão dentro da célula "RAÇA"-->
            <td>{{ pet.raca}}</td> <!--Itens que ficarão dentro da célula "COR"-->
            <td>{{ pet.cor}}</td> <!--Itens que ficarão dentro da célula "COR"-->
            <td>"{{ url_for('excluir', id=pet.id)}}"</td> <!--Itens que ficarão dentro da célula "COR"-->
        </tr>
    </tbody>
    </table>
</div>
</div>

</body>


</html>