<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibir Pets</title>
</head>
<body>
    <h1>Lista de Pets</h1>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <table>
        <thead>
            <tr>
                <th>Espécie</th>
                <th>Raça</th>
                <th>Cor</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for pet in pets %}
            <tr>
                <td>{{ pet.especie }}</td>
                <td>{{ pet.raca }}</td>
                <td>{{ pet.cor }}</td>
                <td>
                    <a href="{{ url_for('excluir', id=pet.id) }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Editar Pet</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('atualizar', id=pet.id) }}" method="POST">
        <label for="especie">Espécie:</label>
        <input type="text" name="Espécie" id="especie" value="{{ pet.especie }}" required><br><br>

        <label for="raca">Raça:</label>
        <input type="text" name="Raça" id="raca" value="{{ pet.raca }}" required><br><br>

        <label for="cor">Cor:</label>
        <input type="text" name="Cor" id="cor" value="{{ pet.cor }}" required><br><br>

        <button type="submit">Atualizar</button>
    </form>

    <br>
    <a href="{{ url_for('exibir') }}">Voltar para a lista de pets</a>
</body>
</html>
