<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos Pet Shop</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'style_produtos.css')}}">
</head>

<body>
    <nav class="navbar col-12 position-fixed navbar-expand-lg navbar-light bg-light body-tertiary" style="z-index: 999;">
        <div class="container-fluid col-11 m-auto">
          <a class="navbar-brand" href="{{url_for('index')}}">PET SHOP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('exibir')}}">Exibir cadastro dos pets</a>
              </li>
              <a class="nav-link active" aria-current="page" href="{{ url_for('cadastro') }}">Cadastro</a> <!--Conexão com o site e tela de cadasstro-->
              </li> <!--Tela de realização de cadastro-->             
            </ul>
          </div>
        </div>
      </nav>

    <header>
        <h1>Produtos!</h1>
        <p>Confira nossos produtos exclusivos para o seu pet.</p>
    </header>
    <section id="produtos">

    <div class="produto-card1">
        <img src= "{{url_for('static',filename= 'img/shampoo-removebg-preview.png')}}" alt="Ração Premium">
        <h3> Shampoo</h3>
        <p>Der mais brilho e vida para seu pet.</p>
        <span class="preco">R$ 49,90</span>
       
    </div>
    <br>

    <div class="produto-card2">
        <img src="{{url_for('static',filename= 'img/racao_a-removebg-preview.png')}}" alt="Cama Luxo">
        <h3>Cama Luxo</h3>
        <p>Alimento completo e balanceado para seu pet.</p>
        <span class="preco">R$ 110,90</span>
   
    </div>
    <br>

    <div class="produto-card3">
        <img src="{{url_for('static',filename='img/racao_3-removebg-preview.png')}}" alt="Cama Luxo">
        <h3>Ração Formula</h3>
        <p>Ração especial para Golden.</p>
        <span class="preco">R$ 89,90</span>
   
    </div>
    <div class="produto-card4">
        <img src="{{url_for('static',filename='img/pente-removebg-preview.png')}}" alt="Cama Luxo">
        <h3>Escova Premium</h3>
        <p>Escova de facil manoseio</p>
        <span class="preco">R$ 29,99</span>
       
    </div>
    <div class="produto-card5">
        <img src="{{url_for('static',filename='img/bola-removebg-preview.png')}}" alt="Cama Luxo">
        <h3>Bolinhas</h3>
        <p> Brinquedo para descontrair seu pet.</p>
        <span class="preco">R$ 19,99</span>
       
    </div>
    <div class="produto-card6">
        <img src="{{url_for('static',filename='img/cama-removebg-preview.png')}}" alt="Cama Luxo">
        <h3>Cama Luxo</h3>
        <p>Proporcione ao seu pet o máximo de conforto.</p>
        <span class="preco">R$ 139,90</span>
    
    </div>

    <br>

    <div class="produto-card7">
        <img src="{{url_for('static',filename='img/coleira_a-removebg-preview.png')}}" alt="Cama Luxo">
        <h3>Coleira</h3>
        <p> Coleira com espinhos.</p>
        <span class="preco">R$ 45,99</span>
       
    </div>
    </section>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>